@model AdAdvanMVC.Models.User

@{
    ViewData["Title"] = "Ad Advantage Client Login";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 style="text-align:left">Advantage Client Login</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ClientLogin">

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" value="as@gmail.com" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" value="As@123" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label>.</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Client Login" class="btn btn-primary" />
                <label>If you are a new client,<a href="ClientRegistration">Register Here.</a></label>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <lable>
                @Html.Raw(ViewBag.Message)
            </lable>
        </form>
    </div>
</div>